%h2 Bus Stop
- if @platforms.nil?
  %h3 No stop found
- else
  %dl
    %dt
      platform_tag
      %dd
        = @platforms.platform_tag
    %dt
      platform_no
      %dd
        = @platforms.platform_no
    %dt
      name
      %dd
        = @platforms.name
    %dt
      bearing_to_road
      %dd
        = @platforms.bearing_to_road
    %dt
      road_name
      %dd
        = @platforms.road_name
    %dt
      lat
      %dd
        = @platforms.lat
    %dt
      long
      %dd
        = @platforms.long
  =image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@platforms.lat}%2C#{@platforms.long}"

  %table
    %tr
      %th Route
      %th Destination
      %th ETA
    - if @route_et.route.nil?
      %td= "No arrivals for next #{@arrival_scope} minutes"
    - elsif @route_et.route.class.is_a?(Array)
      - @route_et.route.each do |platform|
        %tr
          %td= platform.route_no
          - if platform.destination.class.is_a?(Array)
            - platform.destination.each do |destination|
              %td= destination.name
          - else
            %td= platform.destination.name
          - if platform.destination.trip.class.is_a?(Array)
            - platform.destination.trip.each do |trip|
              %td= trip.eta
          - else
            %td= platform.destination.trip.eta
    - else
      %tr
        %td= @route_et.route.route_no
        %td= @route_et.route.destination.name
        %td= @route_et.route.destination.trip.eta

= form_tag('/eta', :method => :get) do
  = submit_tag "Back", :class => "btn primary"
